@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --dark-blue: #2f353b;
  --light-black: #41515b;
  --dark-yellow: #df9926;
  --white: #fff;
  --grey: #aaaaaa;
  --razorpay-dark-blue: #0d2366;
  --razorpay-light-blue: #015ef4;
}

a {
  text-decoration: none;
}

/* 1st navbar */
.nav1 {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 45px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  color: var(--dark-yellow);
}

.nav-links li a:hover {
  color: var(--white);
  transition: color 300ms;
}

.social-logos {
  display: flex;
  gap: 30px;
  color: var(--dark-yellow);
}

.fa-brands:hover {
  color: var(--white);
  transition: color 300ms;
  cursor: pointer;
}

.clg-logos {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.dept-logos {
  display: flex;
  justify-content: space-between;
}

.clg-desc {
  color: var(--grey);
  text-align: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}

/* 2nd navbar */
.nav2 {
  background-color: var(--light-black);
}

.nav2-list {
  display: flex;
  justify-content: center;
  position: relative;
}

.nav2-list li {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  text-transform: uppercase;
  font-weight: bold;
  gap: 8px;
  background-image: linear-gradient(#fff, #fff);
  background-size: 100% 0;
  background-repeat: no-repeat;
  transition: background-size 0.4s;
}

.nav2-list li:hover {
  background-size: 100% 100%;
  color: black;
  opacity: 0.95;
}

.nav2-list li:hover a {
  color: var(--light-black);
  transition: color 1s;
}

.nav2-list li:hover i {
  color: var(--light-black);
  transition: color 1s;
}

.nav2-list li a {
  color: var(--dark-yellow);
  list-style: none;
  font-size: 15px;
}

.nav2-list li i {
  font-size: 10px;
  color: var(--dark-yellow);
}

.active {
  background-color: var(--dark-yellow);
}

/* what's new section */
.whats-new-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.whats-new-content {
  width: 90%;
  display: flex;
  gap: 50px;
}

.new-features {
  width: 70%;
  background-color: var(--dark-yellow);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 20px;
}

.new-features div {
  background-color: var(--white);
  padding: 20px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.new-features div a {
  color: var(--dark-blue);
}

#new-feature-heading {
  background-color: var(--dark-yellow);
  font-size: 20px;
}

.btn {
  position: relative;
  background-color: var(--dark-blue);
  color: var(--dark-yellow);
  text-transform: uppercase;
  width: 50%;
  padding: 10px;
  border: none;
  font-weight: bolder;
  z-index: 1;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 1s;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: var(--white);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scaleX(0);
  z-index: -1;
  transform-origin: left;
  transition: all 1s;
}

.btn:hover::before {
  transform: scaleX(1);
}

.btn:hover {
  color: var(--dark-blue);
}

.whats-new-image {
  position: relative;
}

.whats-new-image img {
  width: 100%;
  height: 100%;
}

.fa-chevron-right {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 18px;
  color: #f0f0f0;
  cursor: pointer;
}

.fa-chevron-left {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 18px;
  font-size: 20px;
  color: #f0f0f0;
  cursor: pointer;
}

/* notice section */
.notice-section {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice-section p {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

.notice-table {
  width: 90%;
  border-collapse: collapse;
}

.notice-table thead {
  background-color: var(--light-black);
  color: var(--white);
}

.notice-table th {
  padding: 20px;
  border: 1px solid white;
}

.notice-table td {
  padding: 20px 15px;
  border: 1px solid #a9a9a9;
  text-align: center;
  color: var(--dark-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.notice-table button {
  background-color: var(--light-black);
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: underline;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 15px;
}

/* payment section */
.payment-section {
  background-image: url("https://cdn.razorpay.com/static/assets/paymentpages/light_desktop.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25% 100%;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--razorpay-dark-blue);
  font-family: "Mulish", sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
  border-left: 10px solid var(--razorpay-light-blue);
}

.payment-content {
  width: 75%;
  display: flex;
  gap: 100px;
}

.payment-section-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-title {
  display: flex;
  gap: 20px;
  align-items: start;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 20px;
}

.payment-title div {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}

.payment-title img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.payment-heading {
  font-size: 20px;
}

.blue-line {
  height: 5px;
  width: 30px;
  background-color: var(--razorpay-light-blue);
  margin-bottom: 10px;
}

.payment-list p {
  color: var(--razorpay-dark-blue);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.payment-list li {
  margin-left: 50px;
  font-size: 14px;
  margin-bottom: 10px;
}

.payment-new-course a {
  color: var(--razorpay-light-blue);
  font-size: 14px;
}

.payment-subheading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.payment-share img {
  cursor: pointer;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.payment-contact-content div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.terms {
  padding-bottom: 30px;
  border-bottom: 2px solid #eeeeee;
}

.terms div p {
  margin-bottom: 10px;
  font-size: 14px;
}

.razorpay {
  width: 70%;
}

.razorpay p {
  font-size: 12px;
  margin: 12px 0;
}

.razorpay a {
  color: var(--razorpay-light-blue);
}

.razorpay-report {
  display: flex;
  gap: 12px;
  font-size: 12px;
  font-weight: 600;
}

/* Form */
.form {
  background-color: white;
  height: max-content;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  font-size: 15px;
  margin-bottom: 20px;
}

.form-section p {
  font-size: 12px;
  margin-top: 5px;
}

input {
  width: 260px;
  height: 35px;
}

.form-select {
  width: 260px;
  height: 35px;
  padding: 10px;
}

.payment-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.payment-btn img {
  width: 380px;
}

.payment-btn button {
  background-color: var(--razorpay-light-blue);
  padding: 10px 25px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* footer */
.footer-1 {
  padding: 60px 0;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
}

.footer-links {
  width: 88%;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-links h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-links li {
  list-style: none;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  display: flex;
  gap: 12px;
}

.footer-links i {
  color: var(--dark-yellow);
}

.footer-links a {
  color: white;
  transition: color 0.5s;
}

.footer-links a:hover {
  color: var(--dark-yellow);
}

.footer-2 {
  background-color: var(--light-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.footer-2-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-yellow);
  font-family: "Raleway", sans-serif;
}
